<html>
  <head>
    <title>{{ title }}</title>
    <style type="text/css">
      /* @todo: A4 page CSS */
      body {
        font-family: "Verdana", Helvetica;
      }

      .footer {
        color: #286bcc;
        display: block;
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
      }

      h2 {
        text-align: center
      }

      .field--label {
        font-weight: bold;
        margin-top: 40px;
      }

      p {
        margin-top: 0;
      }

    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>